* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

header {
  background-color: #2d3945;
  text-align: center;
  color: white;
}

h1 {
  margin: 0 auto;
  padding: 25px 0;
}

main {
  width: 90%;
  margin: 0 auto;
}

.intro {
  text-align: center;
  border-bottom: 4px solid #2d3945;
  padding: 20px 0;
}

.intro p,
label,
footer {
  color: #5e6265;
}

hr {
  border: 1px solid #2d3945;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

legend {
  padding: 20px 0 0 0;
  font-size: 22px;
}

label {
  display: inline-block;
  width: 90%;
  margin-top: 30px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  border: none;
  border-radius: 5px;
  background-color: #eff0f1;
  width: 100%;
  padding: 20px;
  margin-top: 15px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 20px 14px 0 0;
  background-color: blue;
}

input::placeholder {
    text-align: right;
}

input[type="tel"]::placeholder {
    text-align: left;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: inset 0 0 0 2px #46698b;
}

#zip {
  width: 60%;
  margin-bottom: 40px;
}

button {
  width: 100%;
  background-color: #4ebbb5;
  border-radius: 5px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

button:hover {
  background-color: #3a8f8c;
}

footer {
  font-style: italic;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
}

/* Media Queries ---------- */

@media (min-width:768px) {
  main {
    width: 60%;
  }

  .contact_info label {
    width: 24%;
  }

  .contact_info input[type="text"],
  .contact_info input[type="email"],
  .contact_info input[type="tel"],
  .contact_info select {
    width: 75%;
  }

  #zip {
    width: 30%;
  }
}
